<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-5 mx-auto">
        <div class="input-group">
            <input class="form-control border-end-0 border" placeholder="Buscar pelo nome" #searchBox (keyup)="search(searchBox.value)" id="example-search-input">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button">
                    <i class="bi bi-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let character of characters">
        <div class="image-flip" >
            <div class="mainflip flip-0">
                <div class="frontside">
                    <div class="card">
                        <div>
                            <img class="card-img-top" *ngIf="character.thumbnail.extension == 'jpg'" src="{{character.thumbnail.path}}/portrait_xlarge.jpg" alt="card image" style="width: 100%;height: 12vw;object-fit: cover;">
                            <img class="card-img-top" *ngIf="character.thumbnail.extension == 'gif'" src="{{character.thumbnail.path}}/portrait_xlarge.gif" alt="card image" style="width: 100%;height: 12vw;object-fit: cover;">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title">{{character.name}}</h4>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h4 class="card-title">{{character.name}}</h4>
                            <p class="card-text" *ngIf="character.description !== ''">{{character.description}}</p>   
                            <p class="card-text" *ngIf="character.description === ''">Sem descripção pelo momento</p> 
                            <button mat-raised-button color="primary" (click)="getDetalheCharacter(character.id)">Detalhe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>