.character-detail {
    .character-detail__title {
        color: #3F4044;
        font-weight: bold;
    }
    .character-detail__description {
        color:black;
        font-weight: normal;
    }
    .character-detail__letter-info {
        color: #3F4044;
        font-weight: bold;
    }
    .character-detail__amount-info {
        color: #3F4044;
        font-weight: bold;
    }
    
}