<div class="character-detail">
    <div *ngIf="isLoading">
        <h3 class="character-detail__title">{{characterDetail.name}}</h3>
        <p class="character-detail__description" *ngIf="characterDetail.description !== ''">
            {{characterDetail.description}}</p>
        <p class="character-detail__description" *ngIf="characterDetail.description === ''">Sem descripção pelo momento
        </p>
        <div class="row">
            <div class="col">
                <div class="character-detail__letter-info">Comics</div>
            </div>
            <div class="col">
                <div class="character-detail__amount-info">{{characterDetail.comics.available}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="character-detail__letter-info">Envent</div>
            </div>
            <div class="col">
                <div class="character-detail__amount-info">{{characterDetail.events.available}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="character-detail__letter-info">Series</div>
            </div>
            <div class="col">
                <div class="character-detail__amount-info">{{characterDetail.series.available}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="character-detail__letter-info">Stories</div>
            </div>
            <div class="col">
                <div class="character-detail__amount-info">{{characterDetail.stories.available}}</div>
            </div>
        </div>
    </div>

    <span *ngIf="!isLoading">
        Carregando dados!!! ....
    </span>
</div>